<div class="header-top">
  <div class="container content-top">
    <ul>
      <li><a><%= t "login" %></a></li>
    </ul>
  </div>
</div>
<div class="banner">
  <div class="container inner">
    <div class="col-md-6"></div>
  </div>
</div>
<div id="menu-top">
  <div class="container inner">
    <div class="col-md-12">
      <div id="kmenu" class="kmenu">
      <ul>
        <li><a href="#"><%= t "category.title" %></a></li>
      </ul>
       </div>
     </div>
  </div>
</div>
